:host {
    display: flex;
    flex-direction: column;
}

h1 {
    text-align: center;
    margin: 5vh 0 5vh 0;
}
  
.description {
    margin: 0 auto;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    padding: 20px;
}

td, tr {
    padding: 10px;
}