<h1 i18n>{{country.name}} Details</h1>
<table class="description" data-test="country-info">
	<tr>
		<td>ID:</td>
		<td>{{country.id}}</td>
	</tr>
	<tr>
		<td>iso2code:</td>
		<td>{{country.iso2code}}</td>
	</tr>
	<tr>
		<td i18n>Capital:</td>
		<td>{{country.capital}}</td>
	</tr>
	<tr>
		<td i18n>Latitude:</td>
		<td>{{country.latitude}}</td>
	</tr>
	<tr>
		<td i18n>Longitude:</td>
		<td>{{country.longitude}}</td>
	</tr>
	<tr>
		<td i18n>Continent:</td>
		<td>{{country.continent.value}}</td>
	</tr>
</table>
